body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-size: 20px;
}
h1 {
    font-size: 55px;
}
.top-banner {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width {
    width: 40%;
    margin-left: 7%;
    margin-bottom: 150px;
}
.half-width img {
    width: 95%;
}
.orange {
    color: orange;
}
.gray {
    color: gray;
}
.justify {
    text-align: justify;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(#f0573c, #ec9c82);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.dream-big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#text-dream {
    padding-right: 6%;
}
.experience {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience h1 {
    font-size: 45px;
}
.exp-card {
    width: 40%;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 150px;
    padding: 0 50px 30px 50px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
#full-stack-card {
    border-left: 5px solid;
    border-image: linear-gradient(#f0573c, #ec9c82);
    border-image-slice: 1;
}
#baby-web-card {
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 7;
}
